<div class="banner" style="text-align:center">
  <!-- <div class="inline">
        <h1>
            Welcome {{profile.firstName}} {{profile.lastName}}!
        </h1>
    </div>
    <div class="inline">
        <button type="button" class="btn-red pull-right" (click)="logout()">Logout</button>
    </div>
    
    <div class="flex-container">
    <div class="box">
        <h2>You're logged in</h2>
        <div class="box-content">
            <label>Username</label>
            <span>{{profile.userName}}</span>

            <label>Email - </label>
            <span>{{profile.email}}</span>

            <label>Full Name - </label>
            <span>{{profile.firstName}} {{profile.lastName}}</span>
        </div>
    </div>
    </div>--> 
    <div class="row ">
            <div class="col-6 col-md-4"></div>
            <div class="col-6 col-md-4">
                <div class="card mb-3  ">
                    <h3 class="card-header"><h1>
                            Welcome {{profile.firstName}} {{profile.lastName}}!
                        </h1></h3>
                    <div class="card-body">
                    <h5 class="card-title">You're logged in</h5>
                  
                    </div>
                    <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
                
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item"> 
                                    <label>Username - </label>
                                    <span> {{profile.userName}}</span>
                                </li>
                    <li class="list-group-item">
                                    <label>Email - </label>
                                    <span> {{profile.email}}</span>
                        </li>
                    <li class="list-group-item">
                                    <label>Full Name - </label>
                                    <span> {{profile.firstName}} {{profile.lastName}}</span>
                    </li>
                    </ul>
                    <div class="card-body">
                            <a *ngIf="Role()"  href="/home" class="card-link">Manager</a>
                          <!--   <a href="/home/cabinet" (click)="logout()" class="card-link">Logout</a>
                         <button type="button" class="btn-red pull-right">Admin</button>--> 
                    <button type="button" class="btn-red pull-right" (click)="logout()">Logout</button> 
                    </div>

                </div>
            </div>
            <div class="col-6 col-md-4">
            </div>
</div>



  <!-- <div class="box" *ngIf="isManager()">
        <h2>Manager only</h2>
        <div class="box-content">
            <button type="button" class="btn-blue" (click)="getContracts()">Call backend service</button>

            <div *ngIf="contracts">
                <ul *ngFor="let contract of contracts">
                    <li>
                        {{contract.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box" *ngIf="isAdmin()">
        <h2>Admin only</h2>
        <div class="box-content">
            <button type="button" class="btn-blue" (click)="getContracts()">Call backend service</button>

            <div *ngIf="contracts">
                <ul *ngFor="let contract of contracts">
                    <li>
                        {{contract.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>--> 
