.table
{
    max-width: 100%;
  table-layout: fixed;  
  border: 1px;
}

.row{
   color:white;
    min-height: 94vh; 
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.table
{
  color:white;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container-fluid
{
  
 /*  background-image: url(C:\Users\ilyshnya\source\repos\Angular\src\s1200.jpg) ;*/
 background-color: black;
   background-size: cover;
}
.jumbtron
{
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:azure;
  color:black;
}
.far
{
  font-size: 70px;

}
.fas{
  font-size: 70px;

}

.fa-database{
  font-size: 15px;
}