  <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand text-white">Employee's CRUD</a>
            <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
          </nav>
        
        
<div class="container-fluid " id="main">
    <div class="row justify-content-center align-items-center">
      <div class="container">
        <div class="dropdown  ">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-sort" aria-hidden="true"></i>
              Sort by
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="Sort()">Name</a>
              <a class="dropdown-item" href="#">Surname</a>
              <a class="dropdown-item" href="#">Name desc</a>
            </div>
            
          </div>
        </div>
    <!--  <div class="col-md-2 justify-content-center">
<form #form="ngForm" autocomplete="off" >
 
    <div class="form-group">
      <div class="input-group">
     
        <input name="Name" #Name="ngModel" [(ngModel)]="httpService.Employee.Name" class="form-control"
          placeholder="Name" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
       
        <input name="Surname" #Surname="ngModel" [(ngModel)]="httpService.Employee.Surname" 
        class="form-control" placeholder="Surname" required >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-7">
        <div class="input-group">
         
          <input name="Patronymic" #Patronymic="ngModel" [(ngModel)]="httpService.Employee.Patronymic" class="form-control"
            placeholder="Patronymic" required >
        </div>
      </div>
      <div class="form-group col-md-5">
        <div class="input-group">
         
          <input type="text" name="Status" #Status="ngModel" [(ngModel)]="httpService.Employee.Status" class="form-control" placeholder="Status"
          required >
        </div>
      </div>
    </div>
    <div class="form-group col-md-5">
        <div class="input-group">
          
          <input type="text" name="Position" #Status="ngModel" [(ngModel)]="httpService.Employee.Position" class="form-control" placeholder="Position"
          required  >
        </div>
      </div>
    
    <div class="form-group">
        <div class="input-group">
         
          <input name="PhotoPath" #PhotoPath="ngModel" [(ngModel)]="httpService.Employee.PhotoPath" 
          class="form-control" placeholder="PhotoPath" required maxlength="16" minlength="16">
        </div>
      </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="Add()"><i class="fas fa-database"></i> Submit</button>
    </div>
  </form>-->
  
    <div class="col-md-8 " >
      <table class="table table-bordered table-sm"  >
          <thead class=thead-dark >
          <tr>
          <!--    <th >Id</th>-->  
              <th>name</th>
              <th>Surname</th>
              <th>Patronymic</th>
              <th>Position</th>
              <th>Status</th>
              <th >Photo</th>
              <th>Delete</th>
              <th>Edit</th>
          </tr>
          </thead>
          <tbody *ngFor="let e of httpService.Employees ">
          <tr>
             
          <!--  <td  >{{e.id}}</td>-->  
              <td   >{{e.name}}</td>
              <td  >{{e.surname}}</td>
              <td > {{e.patronymic}}</td>
              <td >{{e.position}}</td>
              <td >{{e.status}}</td>
              <td  ><img  style='width:100px; height:100px;' src="{{e.photoPath}}">
               </td>
              <td > <i class="far fa-trash-alt fa-lg text-danger" (click)="Delete(e)"></i> </td> 
              <td><i class="fas fa-user-edit"  (click)="ReEdit(e)" ></i></td>
          </tr>
          </tbody>
      </table>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="goHome()" ><i class="fas fa-database"></i> Add</button>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="Upload()" ><i class="fas fa-database"></i> Upload employees</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" (click)="Magazine()" ><i class="fa fa-history"></i> Magazine</button>
      </div>
    </div>
  </div>
</div>
    
  






<!--
<div class="container-fluid " id="main">
    
  <div class="row justify-content-center align-items-center">

    <div class="col-md-2 justify-content-center">
      <form class="form-horizontal"   >
          <div class="form-group">
              <label for="Name"  >Name:</label>
               <input type="text"  [(ngModel)]="user.Name"  name="user.Name" class="form-control">
           </div>
            <div class="form-group">
                <label for="pwd"  >Surname:</label>
               <input   [(ngModel)]=user.Surname >
           </div>
           <div class="form-group">
                <label for=""  >Patronymic:</label>
               <input type="" class="form-control" id=""  [(ngModel)]=user.Patronymic>
           </div>
           <div class="form-group">
                <label for=""  >Position:</label>
               <input type="" class="form-control" id=""  [(ngModel)]=user.Position>
           </div>

           <div class="form-group">
                <label for="">Status:</label>
               <input type="" class="form-control" id=""  [(ngModel)]=user.Status>
           </div>
          <div class="form-group">
                <label >Photo:</label>
               <input type="" class="form-control" id=""  [(ngModel)]=user.Status>
           </div>
       <button type="submit" class="btn btn-primary" (click)="Add()">Submit</button>
          </form>
          </div>
    <div class="col-md-8 ">
     <!- <form class="form-horizontal" method="post" >
          <div class="form-group">
              <label for="Name">User name:</label>
               <input type="Name" class="form-control" id="Name">
           </div>
            <div class="form-group">
                <label for="pwd">Surname:</label>
               <input type="text" class="form-control" id="pwd">
           </div>
          <div class="form-group form-check">
              <label class="form-check-label">
               <input class="form-check-input" type="checkbox"> Remember me
              </label>
           </div>
       <button type="submit" class="btn btn-primary">Submit</button>
      </form>         
          


      <table class="table" >
          <thead>
          <tr>
              <th>Id</th>
              <th>Surname</th>
              <th>Name</th>
              <th>Patronymic</th>
              <th>Position</th>
              <th>Status</th>
              <th>Photo</th>
          </tr>
          </thead>
          <tbody *ngFor="let e of httpService.Employees">
          <tr>
              <td>{{e.id}}</td>
              <td>{{e.name}}</td>
              <td>{{e.surname}}</td>
              <td>{{e.patronymic}}</td>
              <td>{{e.Status}}</td>
              <td>{{e.position}}</td>
              <td> {{e.Status}}</td>
          </tr>
          </tbody>
      </table>
   </div>

</div>
</div>-->
