

<div style="text-align:center; color:white">
  <h4>
    Countries
  </h4>
 
  <!--<label for="example-text-input" class="col-xs-2 col-form-label">Text</label>
  <div class="col-md-3">
    <input type="text" [(ngModel)]="name" (change)="ngOnChanges()" placeholder="Search"/>`
  </div>-->
  <form [formGroup]="buyTicketForm" novalidate>
        <div>
          
          <input type="text" formControlName="passenger" (change)="ngOnChanges()" placeholder="Search" />
        </div>
      </form>
  <table class="table">
    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col">Flag</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of flags | paginate: config">
       <!-- <th scope="row">{{item.id}}</th>-->
        <td>{{item.name}}</td>
        <td>{{item.capital}}</td>
        <td>{{item.population}}</td>
        <td  ><img  style='width:50px; height:35px;' src="{{item.flag}}">
      </tr>
    </tbody>
  </table>

  <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
 
    <div class="custom-pagination">
      <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
          < 
            </span> 
        </div> 
        <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
            <div *ngIf="p.getCurrent() === page.value">
              <span>{{ page.label }}</span>
            </div>
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <span *ngIf="!p.isLastPage()" (click)="p.next()"> > </span>
        </div>
    </div>
 
  </pagination-template>
 
  <!--<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
 
</div>