<div class="container-fluid " id="main">
    <div class="row justify-content-center align-items-center">
    <div class="col-md-8 " >
      <table class="table table-bordered table-sm"  >
          <thead class=thead-dark >
          <tr>
          <!--    <th >Id</th>-->  
              <th>status</th>
              <th>date</th>
              <th>successful</th>
              <th>duplicate</th>
              <th>added by</th>
          </tr>
          </thead>
          <tbody *ngFor="let e of httpService.Reports ">
          <tr>
             
          <!--  <td  >{{e.id}}</td>-->  
              <td   >{{e.status}}</td>
              <td  >{{e.date}}</td>
              <td > {{e.successful}}</td>
              <td >{{e.duplicate}}</td>
          </tr>
          </tbody>
      </table>
    <!--  <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="goHome()" ><i class="fas fa-database"></i> Add</button>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="Upload()" ><i class="fas fa-database"></i> Upload employees</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block" (click)="u()" ><i class="fa fa-history"></i> Magazine</button>
      </div>-->
    </div>
  </div>
</div>