<div class="container-fluid " id="main">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-2 justify-content-center">
  <form #form="ngForm" autocomplete="off" >
  
    <div class="form-group">
      <div class="input-group">
     
        <input name="Name" #Name="ngModel" [(ngModel)]="httpService.Employee.name" class="form-control"
          placeholder="Name" required>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
       
        <input name="Surname" #Surname="ngModel" [(ngModel)]="httpService.Employee.surname" 
        class="form-control" placeholder="Surname" required >
      </div>
    </div>
    <div class="form-group">
    
        <div class="input-group">
          <input name="Patronymic" #Patronymic="ngModel" [(ngModel)]="httpService.Employee.patronymic" class="form-control"
            placeholder="Patronymic" required >
        </div>
    </div>
  
    <div class="form-group">
    <select name="Status" #Status="ngModel" [(ngModel)]="httpService.Employee.status" class="form-control" >
      <option selected  >Статус</option>
        <option  >Работает</option>
        <option > Отпуск</option>
        <option  >Больничный</option>
     </select>
    </div>
    <div class="form-group">
        <div class="input-group">
          
          <input type="text" name="Position" #Position="ngModel" [(ngModel)]="httpService.Employee.position" class="form-control" placeholder="Position"
          required  >
        </div>
        </div>
     
    
   <app-upload></app-upload>
     
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="Edit(e)"><i class="fas fa-database"></i> Edit</button>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="Back()"> Back to table</button>
    </div>
  </form>
  
  </div>
  </div>
  </div>